
@{
    ViewData["Title"] = "Personal";
}

    <div class="row div-buscar-dni">
        <div class="box-header with-border espacio-bottom ">
            <label class="label-buscar">SOLICITAR REPORTE DE PERSONAL</label>
        </div>
        @*<label class="label-buscar">SOLICITAR REPORTE DE PERSONAL</label>*@
        <div class="row espacio-bottom">
            <label class="container-chk">
                CREDITICIO
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
            <span class="sep-span"></span>
            <label class="container-chk">
                RIESGO
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <span class="sep-span"></span>
            <label class="container-chk">
                INTERPOL
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
            <span class="sep-span"></span>
            <label class="container-chk">
                RENIEC
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="form-group row">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">DNI</span>
                        <input type="text" id="txt_doc" class="form-control txt_start " >
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Centro de Costo</span>
                        <input type="text" id="tags" class="form-control txt_start ">
                    </div>
                </div>
                
            </div>
            <div class="col-sm-4">
                <div class="text-center">
                    <button class="btn btn-success">Consultar</button>
                    <button class="btn btn-warning">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
<br />

<div class="row div-buscar-dni">
    <div class="col-xs-12">
        <div class="">
            <div class="box-header with-border">
                <label class="label-buscar">CANTIDAD DE REGISTROS: 9</label>
            </div>
            <!-- /.box-header -->
            <br />
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Desde</span>
                            <input type="text" id="txt_start" class="form-control txt_start " value="20/08/2019">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Hasta</span>
                            <input type="text" id="txt_end" class="form-control txt_end" value="20/08/2019">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control txt_search" placeholder="Nombre, apellidos, DNI... ">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btnSearch" type="button"><i class="fa fa-search"></i>Buscar</button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="box-body table-responsive">
                <table class="table table-bordered tabla-personal">
                    <tbody>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>DNI</th>
                            <th>NOMBRE</th>
                            <th>FECHA SOLICITUD</th>
                            <th>ESTADO</th>
                            <th>DESCARGAR</th>
                            <th>CONSULTOR</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>10203545</td>
                            <td>Update software</td>
                            <td>15-08-2019</td>
                            <td>
                                <span class="label label-success">Aprobado</span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-download-alt"></span> Descargar
                                </button>
                            </td>
                            <td>Jorge Garcia</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>10203545</td>
                            <td>Clean database</td>
                            <td>15-08-2019</td>
                            <td>
                                <span class="label label-warning">Pendiente</span>
                            </td>
                            <td></td>
                            <td>Jorge Garcia</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>10203545</td>
                            <td>Cron job running</td>
                            <td>15-08-2019</td>
                            <td>
                                <span class="label label-danger">Denegado</span>
                            </td>
                            <td></td>
                            <td>Jorge Garcia</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>10203545</td>
                            <td>Fix and squish bugs</td>
                            <td>15-08-2019</td>
                            <td>
                                <span class="label label-primary">Aprobado</span>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-download-alt"></span> Descargar
                                </button>
                            </td>
                            <td>Jorge Garcia</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.col -->
</div>



<script src="~/js/Personal.js"></script>